<div class="container-fluid">
<div class="row">
    <div class="col-md-4">
        <img src="assets/images/i18n.png" alt="This is the i18n image" i18n-alt="logo|i18n logo@@i18nlogo">
    </div>
    <div class="col-md-6">
        <h4 i18n="heading|h4 heading">Welcome to Angular i18n Application</h4>
    </div>
    <div class="col-md-2">
        <form class="form-group form-floating">
            <label for="floatingSelect">Switch Locale</label>
            <select class="form-select" id="floatingSelect" name="selectedLanguage" [(ngModel)]="selectedLanguage" (change)="switch()">
                <option *ngFor="let locale of locales" [value]="locale.id">{{locale.language}}</option>
            </select>
            </form>
            
    </div>
</div>
<p>{{infoMessage}}</p>
<table class="table table-striped" *ngIf="products$|async as products">
    <thead>
        <tr>
         <th></th>
         <th *ngFor="let header of headers">{{header}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td class="image-list">
                <ng-container *ngFor="let image of product.images">
                    <img class="img-fluid rounded" [src]="image" alt="{{product.description}}">
                </ng-container>
            </td>
            <td>{{product.title}}</td>
            <td>{{product.price|currency}}</td>
            <td>{{product.rating}}</td>
            <td>{{product.meta?.updatedAt|date:'fullDate'}}</td>
        </tr>
    </tbody>
</table>


</div>
