
    server{
    listen 0.0.0.0:80;
    listen [::]:80;
    default_type application/octet-stream;
    error_log /var/log/nginx/error.log debug;

    gzip                    on;
    gzip_comp_level         6;
    gzip_vary               on;
    gzip_min_length         1000;
    gzip_proxied            any;
    gzip_types              text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_buffers            16 8k;
    client_max_body_size    256M;


  root /usr/share/nginx/html;

    # Fallback to default language if no preference defined by browser
    if ($accept_language ~ "^$") {
        set $accept_language "en-US";
    }
    # Redirect "/" to Angular application in the preferred language of the browser
    rewrite ^/$ /$accept_language;

        location /assets/ {
         #assets within the root
         autoindex on;
        }

       location / {
        try_files $uri $uri/index.html =404;
    }
        error_page  404              /index.html;


    }
